<h2>Responsive Table with Custom Style</h2>
<div class="row alignright"> 
    <input type="button" class="btn btn-primary " value="Add">
</div>
<table class="table table-bordered">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>
<!-- <table class="table table-bordered  border-primary responsive">
  <thead class="table-success">
    <tr>
      <th>#</th>
      <th>Table heading</th>
      <th>Table heading</th>
      <th>Table heading</th>
      <th>Table heading</th>
      <th>Table heading</th>
      <th>Table heading</th>
      <th>Table heading</th>
      <th>Table heading</th>
      <th>Table heading</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th row-header="Table heading" scope="row">1</th>
      <td row-header="Table">Table cell</td>
      <td row-header="Table heading">Table cell</td>
      <td row-header="heading">Table cell</td>
      <td row-header="Table heading">Table cell</td>
      <td row-header="Table heading">Table cell</td>
      <td row-header="Table heading">Table cell</td>
      <td row-header="Table heading">Table cell</td>
      <td row-header="Table heading">Table cell</td>
      <td row-header="Table heading">Table cell</td>
      <td row-header="Table heading">Table cell</td>

    </tr>
    <tr>
      <th row-header="Table heading" scope="row">2</th>
      <td row-header="Table heading">Table cell</td>
      <td row-header="Table heading">Table cell</td>
      <td row-header="Table heading">Table cell</td>
      <td row-header="Table heading">Table cell</td>
      <td row-header="Table heading">Table cell</td>
      <td row-header="Table heading">Table cell</td>
      <td row-header="Table heading">Table cell</td>
      <td row-header="Table heading">Table cell</td>
      <td row-header="Table heading">Table cell</td>
      <td row-header="Table heading">Table cell</td>
    </tr>
    <tr>
      <th row-header="Table heading" scope="row">3</th>
      <td row-header="Table heading">Table cell</td>
      <td row-header="Table heading">Table cell</td>
      <td row-header="Table heading">Table cell</td>
      <td row-header="Table heading">Table cell</td>
      <td row-header="Table heading">Table cell</td>
      <td row-header="Table heading">Table cell</td>
      <td row-header="Table heading">Table cell</td>
      <td row-header="Table heading">Table cell</td>
      <td row-header="Table heading">Table cell</td>
      <td row-header="Table heading">Table cell</td>
    </tr>
  </tbody>
</table> -->