<app-loader *ngIf="showloader"></app-loader>

<div class="container">
    <div class="row">
	
		<div class="col-md-3" *ngFor="let tab of tablesdata">
			<button mat-fab color="accent" *ngIf="tab.tableStatus=='B'" (click)="openDialog(tab)">
				<span class="tablename">{{tab.tableName}}</span>
				<br>
			<span>Running Table</span><br>
			<mat-icon>add_shopping_cart</mat-icon>
			</button>
			<button mat-fab color="primary" *ngIf="tab.tableStatus=='F'"  (click)="openDialog(tab)">
				<span class="tablename">{{tab.tableName}}</span>
				<br>
			<span>Click To Book</span><br>
			<mat-icon>touch_app</mat-icon>
			</button>
			<button mat-fab color="warn" *ngIf="tab.tableStatus=='R'"  (click)="openDialog(tab)">
				<span class="tablename">{{tab.tableName}}</span>
				<br>
			<span>Reserved</span><br>
			<mat-icon>event_seat</mat-icon>
			</button>
		</div>
	
	</div>
    </div>

		<!-- <div class="col-md-3">
			<button mat-fab color="primary" (click)="printorder()">Print</button>
		</div> -->