<div class="container">
    <div class="row">
	
		<div class="col-md-3">
            <label class="btn btn-primary">
                <img src="../../../assets/Images/T1.png" alt="..." class="img-thumbnail img-check">
                <input type="checkbox" checked="true" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off">
            </label></div>
		<div class="col-md-3"><label class="btn "><img src="../../../assets/Images/T2.png" alt="..." class="img-thumbnail img-check"><input type="checkbox" name="chk2" id="item4" value="val2" class="hidden" autocomplete="off"></label></div>
		<div class="col-md-3"><label class="btn "><img src="../../../assets/Images/T3.png" alt="..." class="img-thumbnail img-check"><input type="checkbox" name="chk3" id="item4" value="val3" class="hidden" autocomplete="off"></label></div>
		<div class="col-md-3"><label class="btn "><img src="../../../assets/Images/T4.png" alt="..." class="img-thumbnail img-check"><input type="checkbox" name="chk4" id="item4" value="val4" class="hidden" autocomplete="off"></label></div>
		<div class="col-md-3"><label class="btn "><img src="../../../assets/Images/T5.png" alt="..." class="img-thumbnail img-check"><input type="checkbox" name="chk4" id="item4" value="val4" class="hidden" autocomplete="off"></label></div>
		<div class="col-md-3"><label class="btn "><img src="../../../assets/Images/T6.png" alt="..." class="img-thumbnail img-check"><input type="checkbox" name="chk4" id="item4" value="val4" class="hidden" autocomplete="off"></label></div>
		<div class="col-md-3"><label class="btn "><img src="../../../assets/Images/T7.png" alt="..." class="img-thumbnail img-check"><input type="checkbox" name="chk4" id="item4" value="val4" class="hidden" autocomplete="off"></label></div>
		<div class="col-md-3"><label class="btn "><img src="../../../assets/Images/T8.png" alt="..." class="img-thumbnail img-check"><input type="checkbox" name="chk4" id="item4" value="val4" class="hidden" autocomplete="off"></label></div>

	</div>
    </div>