
<app-loader *ngIf="showloader"></app-loader>
<div>
  <span>
      <h3><b>Food Item List</b></h3>
  </span>
 
</div>
<section id="sample-table" class="mat-elevation-z8 bg-white sectionmb">
  <mat-form-field class="leftmar" style="width: 50%;">
    <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
  </mat-form-field>
  <div>
    <button mat-raised-button color="primary"  class="btnalign" (click)="openDialog({},'Add')">
      Add Food Item
    </button>
  </div>
  <table mat-table [dataSource]="dataSource" matSort class="w-100">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let row"> {{row.itemId}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Item Name </th>
      <td mat-cell *matCellDef="let row"> {{row.itemName}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Item Type </th>
      <td mat-cell *matCellDef="let row">   <mat-chip-list>
        <mat-chip class="success" *ngIf="row.itemType=='Veg'" selected>{{row.itemType}}</mat-chip>
        <mat-chip class="warn"  *ngIf="row.itemType=='Non-Veg'" selected>{{row.itemType}}</mat-chip>
      </mat-chip-list> </td>
    
    </ng-container>

    <ng-container matColumnDef="categoryName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Category Name </th>
      <td mat-cell *matCellDef="let row"> {{row.categoryName}} </td>
    </ng-container>
    <ng-container matColumnDef="itemDec">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
      <td mat-cell *matCellDef="let row"> {{row.itemDec}} </td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
      <td mat-cell *matCellDef="let row">  {{row.price  | currency:'INR':'symbol'}} </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef >Action</th>
      <td  mat-cell *matCellDef="let row">
        <button mat-mini-fab color="primary" (click)="openDialog(row,'Edit')" >
          <mat-icon>edit</mat-icon>
        </button>
       &nbsp; 
       <!-- <button mat-mini-fab color="warn" >
          <mat-icon>delete</mat-icon>
        </button> -->
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
    <!-- (click)="selection.toggle(row)" -->
  </table>

  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</section>